<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!-- CSS -->
    <link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css">

    <!-- JS -->
    <script src="libs/angular/angular.min.js"></script>

    <!-- ANGULAR CUSTOM -->
    <script src="app.js"></script>
</head>
<body ng-app="wordApp" ng-controller="MainController">

	<div class="jumbotron text-center">
	    <h1>Hangman</h1>
		<p>The word list</p>
	</div>
	

	<div class="container ">

		<form class="form-inline col-md-4 col-md-offset-4">
			<div class="form-group col-md-6">
				<input type="text" class="form-control " placeholder="word" ng-model="name">
			</div>

			<button type="submit" class="btn btn-primary col-md-6" ng-click="create(name)">Add word</button>
		</form>
		

		<div class="clearfix"></div>
		<br>
		<br>
		<br>
		<div class="col-md-4 col-md-offset-4">

			<table class="table table-bordred table-striped ">
				<thead>
					<th>Word</th>
					<th>Delete</th>
				</thead>
				<tbody>
					<tr ng-repeat="item in data.data">
	    				<td>{{item.name}}</td>
	   					<td>
	   						<button class="btn btn-danger btn-xs" ng-click=delete(item._id)>
	   							<span class="glyphicon glyphicon-trash"></span>
	   						</button>
	   						
	   					</td>
	   				</tr>
				</tbody>
			</table>
		</div>
	
		<br>
		<br>

	</div>

</body>
</html>